@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.link-button {
	@apply inline-block px-6 py-3 font-bold rounded transition;
}

.link-button-primary {
	@apply bg-teal text-black hover:bg-teal-300;
}
